<!DOCTYPE html>

<html lang="en" style="color-scheme: dark; text-align: center;">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>URL Shortener</title>  
  </head>
  <body>
    <h1>Url Shortener</h1>
    <form action="/shorten" method="post">
      <input type="text" id="urlid" placeholder="Enter link here" name="url">
      <input type="submit" value="Shorten">
    </form>
  </body>
</html>
